{% extends 'portfolio/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="about_bottom_content">
            <div class="col-md-4">
                <div class="about_bottom_item m-top-20">
                    <div class="ab_head">
                        <div class="ab_head_icon">
                            <i class="icofont icofont-fire-burn"></i>
                        </div>
                        <h6 class="m-top-20">WE’RE PASSIONATE</h6>
                    </div>
                    <p class="m-top-20 myjustify">Our passion for innovation and excellence drives everything we do. Our team is deeply committed to harnessing the power of Data Science and Machine Learning to create transformative solutions that propel businesses forward.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about_bottom_item m-top-20">
                    <div class="ab_head">
                        <div class="ab_head_icon">
                            <i class="icofont icofont-speech-comments"></i>
                        </div>
                        <h6 class="m-top-20">WE'RE PROFESSIONALS</h6>
                    </div>
                    <p class="m-top-20 myjustify">Professionalism is at the heart of our approach. Our team of highly skilled experts brings a wealth of experience and technical know-how to each project, ensuring the delivery of exceptional solutions that meet the highest industry standards.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about_bottom_item m-top-20">
                    <div class="ab_head">
                        <div class="ab_head_icon">
                            <i class="icofont icofont-heart"></i>
                        </div>
                        <h6 class="m-top-20">WE LOVE A.I</h6>
                    </div>
                    <p class="m-top-20 myjustify">Our love for Artificial Intelligence drives our pursuit of excellence in developing cutting-edge solutions. We believe AI has the potential to transform industries and create a better future, and we are committed to playing our part in this evolution.</p>
                </div>
            </div>
        </div>
    </div><!--End off row-->
</div>

{% endblock %}
